Repository Lv-581-Python-project/StockDashboard, pull requests merged in 2021-04, with the labels that each got.

#31 Create docker img for stock dashboard api
  docker-compose.yml
  stock_dashboard_api/Dockerfile
Labels: Docker

#34 restructured project
  api.Dockerfile
  docker-compose.yml
  requirements_api.txt
  stock_dashboard_api/__init__.py
  stock_dashboard_api/config.py
  stock_dashboard_api/stock_dashboard_api/__init__.py
  tests/__init__.py
  tests/stock_dashboard_api/__init__.py
  tests/stock_dashboard_api/models/__init__.py
  tests/stock_dashboard_api/utils/__init__.py
  tests/stock_dashboard_api/views/__init__.py
  tests/workers/__init__.py
Labels: invalid

#37 JSON middleware feature/#32
  stock_dashboard_api/__init__.py
Labels: API

#24 Feature/#7,12
  .gitignore
  README.md
  requirements.txt
  stock_dashboard_api/__init__.py
  stock_dashboard_api/config.py
  stock_dashboard_api/forms.py
  stock_dashboard_api/models/dashboard_config_models.py
  stock_dashboard_api/templates/email.html
  stock_dashboard_api/templates/home.html
  stock_dashboard_api/templates/send_email.html
  stock_dashboard_api/views/dashboard.py
  tests/workers/test_email.py
  workers/email_sender/__init__.py
  workers/email_sender/send_email_queue.py
  workers/email_sender/send_email_worker.py
Labels: Worker, backend, database

#35 Added views for stock model
  db/stock_dashboard/schema/stocks.sql
  stock_dashboard_api/__init__.py
  stock_dashboard_api/config.py
  stock_dashboard_api/views/stock_view.py
  tests/stock_dashboard_api_tests/views_tests/test_stock_views.py
Labels: API

#42 fixed blueprint
  stock_dashboard_api/views/stock_view.py
Labels: API

#19 Feature/#11
  requirements_api.txt
  stock_dashboard_api/logging.conf
  stock_dashboard_api/models/stock_model.py
  stock_dashboard_api/utils/pool.py
  tests/stock_dashboard_api/models/test_stock_model.py
Labels: backend, database

#36 Stock Data View feature/#21
  stock_dashboard_api/__init__.py
  stock_dashboard_api/views/stocks_data_view.py
  tests/stock_dashboard_api/views/test_stock_data_view.py
Labels: API

#44 fixed views and test for stock view according to middleware
  stock_dashboard_api/views/stock_view.py
  tests/stock_dashboard_api/views/test_stock_views.py
Labels: API

#59 stock views hotfix
  stock_dashboard_api/views/stock_view.py
  tests/stock_dashboard_api/views/test_stock_views.py
Labels: backend

#60 Feature/#50 tests for pool and stock models
  .pylintrc
  stock_dashboard_api/models/stock_model.py
  stock_dashboard_api/utils/pool.py
  tests/stock_dashboard_api/models/test_stock_model.py
Labels: backend, database

#61 Fixed middleware added docs for stock data view and middleware
  stock_dashboard_api/__init__.py
  stock_dashboard_api/views/stocks_data_view.py
  tests/stock_dashboard_api/views/test_stock_data_view.py
  tests/stock_dashboard_api/views/test_stock_views.py
Labels: API, documentation

#64 added docstrings to StockView, refactored code
  stock_dashboard_api/views/stock_view.py
  tests/stock_dashboard_api/views/test_stock_views.py
Labels: backend

#81 Added queries to insert m2m data, changed create_at to created_at in …
  db/stock_dashboard/data/stocks_data.sql
  db/stock_dashboard/schema/stocks_data.sql
  stock_dashboard_api/models/dashboard_config_model.py
  stock_dashboard_api/models/stock_data_models.py
  stock_dashboard_api/views/stocks_data_view.py
Labels: database

#82 code refactoring fixed tests, model and view for stock data
  stock_dashboard_api/__init__.py
  stock_dashboard_api/models/stock_data_models.py
  stock_dashboard_api/views/stocks_data_view.py
  tests/stock_dashboard_api/models/test_stock_data_models.py
  tests/stock_dashboard_api/views/test_stock_data_view.py
Labels: API

#80 React init
  .gitignore
  stock_dashboard_client/package.json
  stock_dashboard_client/public/favicon.ico
  stock_dashboard_client/public/index.html
  stock_dashboard_client/public/logo192.png
  stock_dashboard_client/public/logo512.png
  stock_dashboard_client/public/manifest.json
  stock_dashboard_client/public/robots.txt
  stock_dashboard_client/src/App.css
  stock_dashboard_client/src/App.js
  stock_dashboard_client/src/App.test.js
  stock_dashboard_client/src/index.css
  stock_dashboard_client/src/index.js
  stock_dashboard_client/src/logo.svg
  stock_dashboard_client/src/reportWebVitals.js
  stock_dashboard_client/src/setupTests.js
  stock_dashboard_client/yarn.lock
Labels: frontend

#85 fixed React init
  stock_dashboard_client/public/index.html
  stock_dashboard_client/public/robots.txt
  stock_dashboard_client/src/App.js
  stock_dashboard_client/src/App.test.js
  stock_dashboard_client/src/css/App.css
  stock_dashboard_client/src/css/index.css
  stock_dashboard_client/src/images/favicon.ico
  stock_dashboard_client/src/images/logo.svg
  stock_dashboard_client/src/images/logo192.png
  stock_dashboard_client/src/images/logo512.png
  stock_dashboard_client/src/index.js
  stock_dashboard_client/src/reportWebVitals.js
  stock_dashboard_client/src/setupTests.js
  stock_dashboard_client/yarn.lock
Labels: frontend

#91 86 add diagram to README
  README.md
  documentation/diagrams/data_flow_diagram.png
Labels: documentation

#93 Change schema and improve insert of data
  db/stock_dashboard/CREATE_DB.sql
  db/stock_dashboard/INSERT_DATA.sql
  db/stock_dashboard/data/dashboard.sql
  db/stock_dashboard/data/dashboard_config.sql
  db/stock_dashboard/data/dashboard_has_stocks.sql
  db/stock_dashboard/data/stocks.sql
  db/stock_dashboard/data/stocks_data.sql
  db/stock_dashboard/schema/dashboard.sql
  db/stock_dashboard/schema/dashboard_has_stocks.sql
  db/stock_dashboard/schema/stocks.sql
  stock_dashboard_api/__init__.py
  stock_dashboard_api/models/dashboard_model.py
  stock_dashboard_api/models/stock_model.py
  stock_dashboard_api/views/stock_dashboard_view.py
  tests/stock_dashboard_api/models/test_dashboard_model.py
  tests/stock_dashboard_api/models/test_stock_model.py
  tests/stock_dashboard_api/views/test_stock_views.py
Labels: backend, database

#92 Done stock view for time period
  stock_dashboard_api/__init__.py
  stock_dashboard_api/models/stock_model.py
  stock_dashboard_api/utils/constants.py
  stock_dashboard_api/views/stock_view.py
  tests/stock_dashboard_api/models/test_stock_model.py
  tests/stock_dashboard_api/views/test_stock_views.py
Labels: backend

#95 Added a scheduler worker and 2 test workers with test functions
  .gitignore
  stock_dashboard_api/utils/scheduler_queue.py
  stock_dashboard_api/utils/scheduler_test_functions.py
  workers/get_names_worker.py
  workers/get_stock_data_worker.py
  workers/scheduler_worker.py
Labels: Worker

#97 94 move json parser
  stock_dashboard_api/__init__.py
  stock_dashboard_api/models/stock_data_models.py
  stock_dashboard_api/utils/json_parser.py
  stock_dashboard_api/views/stock_view.py
  stock_dashboard_api/views/stocks_data_view.py
  tests/stock_dashboard_api/views/test_stock_data_view.py
Labels: API

#103 Configured logging for views
  stock_dashboard_api/__init__.py
  stock_dashboard_api/views/stock_dashboard_view.py
  stock_dashboard_api/views/stock_view.py
  stock_dashboard_api/views/stocks_data_view.py
Labels: API, backend

#113 110 add new functions dbserver
  workers/utils/db_service.py
  workers/utils/logger.py
  workers/utils/pool.py
Labels: backend, database

#121 Update diagram
  documentation/diagrams/data_flow_diagram.png
Labels: documentation
