Repository Lv-581-Python-project/StockDashboard, pull requests merged in 2021-03, with the labels that each got.

#14 Created initial docker-compose
  .gitignore
  Readme.md
  docker-compose.yml
Labels: Docker

#13 Created StockDashBoardAPI folder and initialized Flask project, added…
  Readme.md
  StockDashboardAPI/__init__.py
  StockDashboardAPI/config.py
  main.py
  requirements.txt
  run.py
Labels: API

#18 Feature/#17
  .gitignore
  Readme.md
  StockDashboardAPI/config.py
  StockDashboardAPI/requirements.txt
  StockDashboardAPI/run.py
Labels: API

#15 Feature/#8
  Readme.md
  db/StockDashboard/CREATE_DB.sql
  db/StockDashboard/INSERT_DATA.sql
  db/StockDashboard/data/dashboard_config.sql
  db/StockDashboard/data/dashboard_has_stocks.sql
  db/StockDashboard/data/stocks.sql
  db/StockDashboard/data/stocks_data.sql
  db/StockDashboard/schema/dashboard_config.sql
  db/StockDashboard/schema/dashboard_has_stocks.sql
  db/StockDashboard/schema/stocks.sql
  db/StockDashboard/schema/stocks_data.sql
Labels: database

#23 Feature/#22
  .gitignore
  README.md
  db/stock_dashboard/CREATE_DB.sql
  db/stock_dashboard/INSERT_DATA.sql
  db/stock_dashboard/data/dashboard_config.sql
  db/stock_dashboard/data/dashboard_has_stocks.sql
  db/stock_dashboard/data/stocks.sql
  db/stock_dashboard/data/stocks_data.sql
  db/stock_dashboard/schema/dashboard_config.sql
  db/stock_dashboard/schema/dashboard_has_stocks.sql
  db/stock_dashboard/schema/stocks.sql
  db/stock_dashboard/schema/stocks_data.sql
  stock_dashboard_api/__init__.py
  stock_dashboard_api/app.py
  stock_dashboard_api/config.py
  stock_dashboard_api/requirements.txt
Labels: invalid
